$bg-gradient: linear-gradient(65deg, black, transparent), 
              url('https://dkp0uzej5xex.cloudfront.net/wp-cont');

$fonts: Helvetica, sans-serif, Arial;

$display_ib: inline-block;
$display_i: inline;

$textcolor: white;
$button-color: red;
$bgcolor: black;