*{
    box-sizing: border-box;
}

body{
    margin: auto;
    background-color: aquamarine;
    color:blue ;
}

.header{
    text-align: center;
    padding: 25px;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

/* child columns */
.column {
  flex: 33%;
  max-width: 33%;
  padding: 5px;
}

/* image styling */
.column img {
  width: 100%;
  margin-top: 10px;
  border-radius: 8px;
  filter: grayscale(70%);
}

/* hover effect */
.column img:hover {
  filter: grayscale(0%);
}